<mat-card class="formPost-card">
  <mat-card-header>
    <mat-card-title>Nuevo Post</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if(loading){
    <mat-spinner></mat-spinner>
    }@else{
    <form class="post-form">
      <mat-form-field class="input-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="title" name="title" />
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <mat-label>Mensaje</mat-label>
        <textarea
          matInput
          placeholder="En que piensas?"
          [(ngModel)]="content"
          name="content"
        ></textarea>
      </mat-form-field>
    </form>
    }
  </mat-card-content>
  <mat-card-actions align="end">
    @if(!loading){
    <button
      [disabled]="content && title ? false : true"
      mat-raised-button
      color="primary"
      (click)="handlerCreatePost()"
    >
      COMPARTIR
    </button>
    }
  </mat-card-actions>
</mat-card>
