<mat-toolbar class="mat-elevation-z3">
  @if(authService.isLogged()){
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  }
  <img src="assets/logo.svg" alt="INLAZE" />
  @if(authService.isLogged()){
  <span>👋​ Hola, {{ authService.getUserName() }}</span>
  }
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [style.width]="'250px'" #sidenav mode="over" [(opened)]="opened">
    <app-sidebar (closeSideBarEvent)="addItem($event)"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
