.content{
    padding: 12px;
    background-color: #e5e5e5;
}
mat-toolbar{
    position: relative;
    z-index: 5;
    background-color: #3c3c85;
    span{
        margin-left: auto;
        color: white;
        font-size: 15px;
    }
}
mat-icon{
    color: white;
}
mat-sidenav-container{
    height: calc(100vh - 64px);
}